version: "3.8"

services:
  credit-risk-api:
    build: .
    container_name: credit-risk-api
    ports:
      - "8000:8000"
    environment:
      - PYTHONUNBUFFERED=1
    volumes:
      - .:/app   # Mount project folder for live code changes
    command: >
      uvicorn src.api.main:app
      --host 0.0.0.0
      --port 8000
      --reload
