# FastAPI & ASGI
fastapi==0.95.2
uvicorn==0.23.1

# Pydantic
pydantic==1.10.12

# Database / ORM
SQLAlchemy==2.0.45
alembic==1.17.2

# Machine learning / data
numpy==1.25.2        # <2, compatible with MLflow
pandas==2.3.3
scikit-learn==1.7.2
scipy==1.15.3
joblib==1.5.2

# Web & API
requests==2.32.5

# Other dependencies
python-dotenv==1.2.1
cryptography==46.0.3
colorama==0.4.6
mlflow==2.12.1




